*.egg-info
*.pyc
*.sqlite3

__pycache__

/Pipfile
/Pipfile.lock

/docs/_build
/docs/_templates

/.cache
/.eggs
/.mypy_cache
/.project
/.pydevproject
/.pytest_cache
/.settings
/.vscode

/.download
/.pip
/.venv*
/.virtualenv*

/build
/dist
